.yijikeji {
    display: flex;
}

.yijikeji-left {
    flex: 2;
    text-align: center;
}

.yijikeji-left img {
    width: 80%;
    margin-left: -25%;
    margin-top: 10%;
}

.yijikeji-right {
    flex: 8;
}

.contact-us {
    font-weight: 400;
}

.yiji::after {
    content: "以及科技有限公司";
    font-size: 3rem;
    margin-left: 2rem;
    opacity: .7;
}

.qr-code {
    display: inline-block;
    width: 70%;
}

.qr-code p {
    text-align: center;
    font-size: 3.5rem;
    opacity: .8;
}

.qr-code img {
    width: 100%;
}

.zhuan-zai {
    width: 100%;
    margin-bottom: 7rem;
    font-size: 4.5rem;
    font-weight: bold;
    text-align: center;
}

.zhuan-zai a {
    float: left;
    margin-top: -1rem;
}