.found-detail {
    padding-bottom: 5rem;
}

.my-video {
    width: 100%;
    max-width: 1000px;
    height: 82.5rem;
    background-color: #c4c4c4;
    cursor: pointer;
    border-radius: 2rem;
}

.my-img {
    width: 100%;
    max-width: 1000px;
    height: 82.5rem;
    border-radius: 2rem;
    background-color: #c4c4c4;
}

.greater,
.head-greater {
    display: none;
    position: fixed;
    width: 100vw;
    height: 100vh;
    left: 0;
    top: 0;
    background: linear-gradient(45deg, #1D0D36 0%, #0d082a 100%);
}

.video-img,
.header-img-box {
    width: 100%;
    height: 55vh;
    max-width: 900px;
    margin: 15vh auto 0;
    overflow: hidden;
}

.header-img-box img {
    width: 100%;
    height: 100%;
}

.video-img-box {
    display: flex;
    height: 100%;
}

.greater-video {
    width: 100%;
}

.greater-video * {
    height: 100%;
    width: 100%;
    border-radius: 0;
}

.pages {
    text-align: center;
    margin-bottom: 10vh;
    margin-top: 3rem;
}

.zhuan-zai {
    display: block;
    width: 100%;
    margin: 2rem 2rem 5rem;
}

.forward {
    float: right;
    margin-right: 3rem;
    width: 7rem;
    color: #ccc;
}

.love-nice {
    margin: 3rem auto;
}

.love-nice * {
    float: right;
}

.love-nice a {
    margin: 0 2rem 3rem;
}

.love-nice a img {
    margin-top: 1rem;
    width: 4rem;
}