.withdraw {
    position: relative;
}

.remind {
    width: 70%;
    margin: 20rem auto;
}

.remind li {
    list-style: disc;
    font-size: 3.5rem;
    opacity: .8;
    margin-bottom: 8rem;
}

.agreement {
    position: absolute;
    bottom: 0;
    width: 80%;
    left: 10%;
    margin-bottom: 10rem;
}

.agreement p {
    font-size: 3rem;
    text-align: center;
}

.agreement p>span {
    display: inline-block;
    cursor: pointer;
    width: 4.5rem;
    height: 4.5rem;
    font-size: 3rem;
    border: 1px dashed #5D2DFD;
    border-radius: 2.25rem;
    margin-right: 2rem;
    user-select: none;
}

.agreement button {
    width: 100%;
    cursor: pointer;
    font-size: 4rem;
    border-radius: 2.5rem;
    color: #fff;
    padding: 3rem 0;
    /* background: linear-gradient(90deg, #FE8532 0%, #FF7A1F 98.64%); */
    /* background: linear-gradient(90deg, #5D2DFD 0%, #7F5EF0 98.64%); */
    background: linear-gradient(266.71deg, #5D2DFD 0%, #7F5EF0 100%);
}

.zhuan-zai {
    width: 100%;
    margin-bottom: 7rem;
    font-size: 4.5rem;
    font-weight: bold;
    text-align: center;
}

.zhuan-zai a {
    float: left;
    margin-top: -1rem;
}