.description {
    position: absolute;
}

.description p:first-child {
    font-weight: bold;
    font-size: 5rem;
}

.description p:last-child {
    font-size: 3.5rem;
    opacity: .6;
}

.glass img {
    width: 80%;
}