.my-video {
    width: 100%;
    max-width: 1000px;
    height: 500px;
    background-color: #c4c4c4;
}

.myimg {
    width: 100%;
    max-width: 1000px;
    height: 500px;
    background-color: #c4c4c4;
}